* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body {
    font: 13px Helvetica, Arial;
    overflow: hidden;
}
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 80%;
    min-width: 700px;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#messages {
    list-style-type: none;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
    white-space: nowrap;
}
#messages li {
    padding: 5px 10px;
    white-space: normal;
    word-break: break-all;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#messages li.connection {
    background-color: #000066;
    color:white;
}
#messages li.unconnection {
    background-color: #660000;
    color:white;
}
#conversation {
    width: 80%;
    height: 100%;
    min-width: 700px;
    display: inline-block;
    padding: 0 0 40px 0;
}
#chat {
    display: none;
    height: 100%;
}

#login{
    width: 80%;
    height: 91px;
    display: block;
    top: 50%;
    margin: auto;
    position: relative;
}

#login form {
    background-color: #EFEFEF;
    position: absolute;
    bottom: inherit;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 2px 3px 10px grey;
}

#login .form-block{
    margin: 10px 0;
}

#login form label{
    width: 15%;
    display: inline-block;
    min-width: 130px;
}

#login form input{
    width: 50%;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px #C2C2C2;
}
#login form button{
    width: 100px;
    background: rgb(51, 87, 161);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
#user {
    display: none;
}
#list {
    display: inline-block;
    position: fixed;
    height: 100%;
    background: blue;
    width: 20%;
    overflow-y: scroll;
}